* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear;
    color: #080a0a;
 }

 body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
   background-image: linear-gradient(to right top, #850909, #9c3d29, #b2634b, #c68771, #d8ac9a, #e5b8a2, #f2c4a9, #fed0b1, #ffc992, #ffc372, #f9c14d, #ebc01b);
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
 }

 .nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding-right: 15px;
  justify-content: center;
  align-items: center;
  height: 12.2%;
}

.left-nav img{
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
}
.left-nav{
  width: 70%;
  margin-left: 5%;
  padding: 1%;
}
.right-nav{
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-right: 5%;
}

 .nav-link {

   color: #383B39;
   text-decoration: none;
   transition: color 0.3s ease;
   position: relative;
 }
 
 .nav-link::after {
   content: "";
   position: absolute;
   width: 0;
   height: 2px;
   background-color: #800000;
   bottom: -4px;
   left: 0;
   transition: width 0.3s ease;
 }
 
 .nav-link:hover,
 .nav-link.active {
   color: #800000;
 }
 
 .nav-link:hover::after,
 .nav-link.active::after {
   width: 100%;
 }
 
 .about {
  flex-grow: 1;
  height: 81.5%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
 
.left-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  flex: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .right-about{
    padding: 20px;
    width: 50%;
    height: auto;
    /* max-width: 50%; */
    text-align: justify;
    transition: transform 0.3s ease;
    flex: 1;
  }
  
 .about h2 {
  font-size: 34px;
  margin: 20px 0; 
  text-align: center;
  color: #800000;
}


.about p {
  font-size: 18px;
  margin-bottom: 15px;
}

footer{
  opacity: .7;
  bottom: 0;
  background-color: #9b0a0a;
  width: 100%;
  padding: 1%;
  text-align: center;
}

#footer-container .container p {
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .7rem;
  color: #f2f2f2ef;
}

  /* MOBILE STYLE TOPE */
  @media only screen and (max-width: 600px){
    /* NAVIGATION */
    html,body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-x: hidden;
      background-image: linear-gradient(to right top, #850909, #9c3d29, #b2634b, #c68771, #d8ac9a, #e5b8a2, #f2c4a9, #fed0b1, #ffc992, #ffc372, #f9c14d, #ebc01b);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    body{
      padding-right: 0;
    }
    .nav{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      height: 12.2%;
    }
  
    .left-nav img{
      height: 50px;
      width: 50px;
      padding: 0;
      margin: 2% 0 1%;
      
    }
    .left-nav{
      padding: 0;
      margin-left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right-nav{
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-right: 0;
      font-size: .7rem;
    }

  /* About Section */
  .about {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-top: 4%; /* Optional: add margin-top if needed */
  }

  .left-about {
    width: 100%;
    margin-bottom: 20px; /* Add some space below the slideshow */
  }
  .slide img {
    width: 100%;
    object-fit: contain; /* Ensure the image fits well within its container */
  }

  .right-about {
    width: 100%;
    padding: 20px;
    height: auto;
  }

  .about h2 {
    font-size: 1rem;
    margin: 4% 0 2%;
    color: #800000;
    text-align: center;
  }

  .about p {
    font-size: 0.8rem;
    text-align: justify;
    padding-bottom: 4%;
  }

  /* FOOTER */
  .container-footer{
    white-space: wrap;
}

#footer-container .container p {
  font-size: .6rem;
}
    
  }



  @media only screen and (max-width: 1024px) and (min-width: 601px) {
    body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      padding: 0;
      background-image: linear-gradient(to right top, #850909, #9c3d29, #b2634b, #c68771, #d8ac9a, #e5b8a2, #f2c4a9, #fed0b1, #ffc992, #ffc372, #f9c14d, #ebc01b);
      background-repeat: no-repeat;
      background-size: cover;
  }

  html{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 12.2%;
  }

  .left-nav img{
    height: 50px;
    width: 50px;
    padding: 0;
    margin-left: 0;
    
  }
  .left-nav{
    width: 40%;
    padding: 1%;
    margin-left: 5%;
  }
  .right-nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-right: 5%;
  }
  /*Extension*/
  .about {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 87.8%;
    padding: 0;
}

.left-about {
    width: 100%;
    height: 50%;
}

.slide {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-about {
    height: 50%;
    width: 100%;
    transition: transform 0.3s ease;
}

.about h2 {
    font-size: 2rem;
    margin: 4% 0 2% 0;
    color: #800000;
}

.about p {
    font-size: 1rem;
    padding-bottom: 4%;
}
.container-footer{
  white-space: wrap;
}

#footer-container .container p {
font-size: .6rem;
}
}