/*images section starts here*/
.title1 img {
  max-width: 50%; 
  border-radius: 10px;
  height: auto;
}

.title2 img {
  max-width: 50%; 
  border-radius: 10px;
  height: auto;
}

.title3 img {
  max-width: 50%; 
  border-radius: 10px;
  height: auto;
}

.blog1 img{
  max-width: 50%;
  border-radius: 10px;
  height: auto;
}

.blog2 img{
  max-width: 50%;
  border-radius: 10px;
  height: auto;
}

.blog3 img{
  max-width: 50%;
  border-radius: 10px;
  height: auto;
}
/*images section ends here*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear;
 }


 body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #ffffff;
   width: 100vw;
   height: 100vh;
 }

 header {
   background-color: #fff;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   padding: 16px 0;
 }
 
 .header-content{
   /* display: flex;
   flex-direction: row;
   justify-content: space-around;
   border: 1px solid red; */

   display: flex;
   align-items: center;
 }
.logo{
   width: 10%;
   padding-left: 1%;
}
.logo img{
   width: 80px;
   height: 80px;
}

 .header-content nav{
   /* display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red; */
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
 }
 
 header img {
   align-items: start;
    max-height: 80px;
 }
 
 .nav-link {

   color: black;
   text-decoration: none;
   transition: color 0.3s ease;
   position: relative;
 }
 
 .nav-link::after {
   content: "";
   position: absolute;
   width: 0;
   height: 2px;
   background-color: #800000;
   bottom: -4px;
   left: 0;
   transition: width 0.3s ease;
 }
 
 .nav-link:hover,
 .nav-link.active {
   color: #800000;
 }
 
 .nav-link:hover::after,
 .nav-link.active::after {
   width: 100%;
 }

.title1 {
    text-align: justify;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 
.title1 h2 {
    color: #800000;
    text-align: center;
}

.title1 h4 {
    text-align: center;
}

.description1 p {
    text-align: justify;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
 }

.title2 {
    text-align: justify;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title2 h2 {
    color: #800000;
    text-align: center;
}

.title2 h4 {
    text-align: center;
}

.description2 p {
    text-align: justify;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.title3 {
    text-align: justify;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title3 h2 {
    color: #800000;
    text-align: center;
}

.title3 h4 {
    text-align: center;
}

.description3 p {
    text-align: justify;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.banner-container{
  margin: 1% 0;
  padding-left: 19%;
  padding-right: 19%;
}

/* buttons styling starts here */
#close-button1 {
	background-color: maroon;
  color: white;
  border: 1px solid maroon;
  font-size: 17px;
  font-family: verdana;
  border-radius: 15px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.5s;
  display: block;
  margin: 0 auto;
}
#close-button1:hover {
    background-color: red;
    color: white;
    border: 1px solid red;
}

#close-button2 {
	background-color: maroon;
  color: white;
  border: 1px solid maroon;
  font-size: 17px;
  font-family: verdana;
  border-radius: 15px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.5s;
  display: block;
  margin: 0 auto;
}
#close-button2:hover {
    background-color: red;
    color: white;
    border: 1px solid red;
}

#close-button3 {
	background-color: maroon;
  color: white;
  border: 1px solid maroon;
  font-size: 17px;
  font-family: verdana;
  border-radius: 15px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.5s;
  display: block;
  margin: 0 auto;
}
#close-button3:hover {
    background-color: red;
    color: white;
    border: 1px solid red;
}
/* buttons styling starts here */