* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear;
 }
 
 header {
    height: 15%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
 }
 
 
 header .logo img {
    max-height: 80px; /* Adjust logo size as needed */
    padding-left: 50px;
 }
 
 
 header .navbar a {
    font-size: 23px;
    padding: 0 1.5rem;
    color: #666;
    text-decoration: none;
 }
 
 
 header .navbar a:hover {
    color: #800000;
 }
 
 
 body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
 }
 
 
 
 
 
 .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Adjusted to center align the boxes */
    align-items: center;
 }
 
 
 .box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    text-align: justify;
    transition: transform 0.3s ease;
 }
 
 
 .contact {
    text-align: center;
    min-height: 75vh;
    display: flex; /* Added to center content vertically */
    flex-direction: column; /* Ensures vertical alignment */
    justify-content: center; /* Centers content vertically */
    padding: 20px;
 }
 
 
 .contact h1 {
    font-size: 34px; /* Increased font size for better visibility */
    margin: 20px 0; /* Increased margin for spacing */
    text-align: center;
    color: #800000;
 }
 
 
 .contact p {
    font-size: 18px; /* Increased font size for better readability */
    margin-bottom: 15px; /* Added bottom margin for spacing */
 }
 
 
 
 
 