* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: 0.2s linear;
  color: #080a0a;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, #fff7f3, #a5ae9d);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navigation */
.nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 12.2%;
}

.left-nav img{
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
}
.left-nav{
  width: 70%;
  margin-left: 5%;
  padding: 1%;
}
.right-nav{
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-right: 5%;
}

.nav-link {
  color: #383B39;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #800000;
  bottom: -4px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #800000;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* Main Content */
.main{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  
}

.main h1{
font-size: 6vh;
text-align: center;
padding: 20px 0;

}

.container{
display: flex;
flex-wrap: wrap;
gap: 15px;
justify-content: space-around;


}

.box {
margin-bottom: 2%;
width: 29%;
height: 25%;
padding: 15px;
text-align: center;  
box-shadow: 0 2px 5px rgba(0.5, 0.2, 0.2, 0.5); 
}

.box img{
width: 200px;
height: 200px;
object-fit: cover;
border-radius: 5px;

}

.box h2{
margin-top: 2%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #000000ef;

}

.box .icon{
margin-top: 3%;
color:#000000ef;
}

.box .text{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #000000ef;
font-size: 2vh;
}
.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.left-skills, .right-skills {
margin-top: 2%;
  flex: 1; 
  text-align: left;
}

.left-skills .icon, .right-skills .icon { 
  margin-top: 5%;
  color: #000000ef;
  font-size: 1.9vh;
}

.left-skills .txt, .right-skills .txt {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000ef;
  font-size: 1.8vh;
}

footer{
  bottom: 0;
  background-color: #9b0a0a;
  width: 100%;
  padding: 1%;
}

#footer-container .container p {
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7vh;
  color: #f2f2f2ef;
}

   @media only screen and (max-width: 600px) {
    /* THIS IS FOR NAVBAR */
  html, body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #fff7f3, #a5ae9d);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 12.2%;
  }

  .left-nav img{
    height: 50px;
    width: 30%;
    padding: 0;
    margin-left: 35%;
    
  }
  .left-nav{
    padding: 0;
    margin-left: 0;
  }
  .right-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-right: 0;
  }
  .box{
    width: 70%;
  }
  .left-skills, .right-skills{
    text-align: left;
    margin: 0 auto;
  }
  .main{
    align-items: center;
    padding-bottom: 6%;
   }

   .container-footer{
    white-space: wrap;
}

#footer-container .container p {
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7vh;
  color: #f2f2f2ef;
}

   }

   @media only screen and (max-width: 1024px) and (min-width: 601px) {
    body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      padding: 0;
      background: linear-gradient(to right, #fff7f3, #a5ae9d);
      background-repeat: no-repeat;
      background-size: cover;
  }
  
    html{
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .nav{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      height: 12.2%;
    }
  
    .left-nav img{
      height: 50px;
      width: 50px;
      padding: 0;
      margin-left: 0;
      
    }
    .left-nav{
      width: 40%;
      padding: 1%;
      margin-left: 5%;
    }
    .right-nav{
      display: flex;
      justify-content: space-around;
      width: 60%;
      margin-right: 5%;
    }
    .box{
      width: 45%;
    }
    .left-skills, .right-skills{
        text-align: left;
        margin: 0 auto;
      }
    .main{
      align-items: center;
      padding-bottom: 6%;
     }
   }