*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear;
    color: red;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #9e9e9eb2, #f2f2f2ef);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 12.2%;
}

.left-nav img{
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
}
.left-nav{
  width: 70%;
  margin-left: 5%;
  padding: 1%;
}
.right-nav{
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-right: 5%;
}
   
   
   .nav-link {
     color: black;
     text-decoration: none;
     transition: color 0.3s ease;
     position: relative;
   }
   
   .nav-link::after {
     content: "";
     position: absolute;
     width: 0;
     height: 2px;
     background-color: #800000;
     bottom: -4px;
     left: 0;
     transition: width 0.3s ease;
   }
   
   .nav-link:hover,
   .nav-link.active {
     color: #800000;
   }
   
   .nav-link:hover::after,
   .nav-link.active::after {
     width: 100%;
   }

   .main{
    align-items: center;
    padding-bottom: 4%;
   }

    .main h1{
    font-size: xx-large;
    text-align: center;
    padding: 5px 0;
  
   }

   .container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
   }
  
   .box {
    width: 27%;
    height: 25%;
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;   
  }
  
   .box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    
    
   }
  
  .box .h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  
  }
  
  .box .icon{
    margin-top: 5%;
  }
  
   .box .text{
    margin-top: 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 2vh;
   }

   @media only screen and (max-width: 600px) {
    /* THIS IS FOR NAVBAR */
  html, body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #9e9e9eb2, #f2f2f2ef);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 12.2%;
  }

  .left-nav img{
    height: 50px;
    width: 30%;
    padding: 0;
    margin-left: 35%;
    
  }
  .left-nav{
    padding: 0;
    margin-left: 0;
  }
  .right-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-right: 0;
  }
  .box{
    flex: 100%;
  }
  .main{
    align-items: center;
    padding-bottom: 6%;
   }
   }

   @media only screen and (max-width: 1024px) and (min-width: 601px) {
    body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      padding: 0;
      background: linear-gradient(to bottom, #383B39, #f2f2f2ef);
      background-repeat: no-repeat;
      background-size: cover;
  }
  
    html{
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .nav{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      height: 12.2%;
    }
  
    .left-nav img{
      height: 50px;
      width: 50px;
      padding: 0;
      margin-left: 0;
      
    }
    .left-nav{
      width: 40%;
      padding: 1%;
      margin-left: 5%;
    }
    .right-nav{
      display: flex;
      justify-content: space-around;
      width: 60%;
      margin-right: 5%;
    }
    .box{
      flex: 100%;
    }
    .main{
      align-items: center;
      padding-bottom: 6%;
     }
   }