#footer-container {
    text-align: left;
    padding: 2%;
    background-color: #9b0a0a;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#footer-container h2 {
    color: #f2f2f2;
    margin-bottom: 1%;
}

#footer-container .icon {
    font-size: 3vh;
    color: #f2f2f2;
}

#footer-container .text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.8vh;
    color: #f2f2f2;
}

#footer-container .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer-container .pup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#footer-container .container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.6vh;
    color: #f2f2f2;
    margin-top: 2%;
}